// =============================================================================
// CONTACT US
// =============================================================================
@use "sass:math";
@import "../component";

.contact-us {

}

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @include breakpoint(large) {
    text-align: right;
  }
}

.contact-list__item {
  font-size: rem(18px);

  // Siblings.
  + .contact-list__item {
    margin-top: rem(20px);
  }
}
