// =============================================================================
// TOP LINK.
// =============================================================================
@use "sass:math";
@import "../component";

#top-link {
  background: $orange;
  border-radius: 50%;
  border: 2px solid transparent;
  bottom: rem(40px);
  color: $white;
  display: block;
  font-size: rem(14px);
  height: rem(50px);
  line-height: rem(45px);
  position: fixed;
  right: rem(10px);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: rem(50px);
  z-index: 998;

  @include breakpoint(medium) {
    right: rem(30px);
  }
}
