// =============================================================================
// FOOTER
// =============================================================================
@use "sass:math";

.footer {
  background: #070b11;
  color: #9fa6bd;
  padding-bottom: rem(20px);
  padding-top: rem(20px);
  position: sticky;
  text-align: right;
  top: 100vh;

  .container {
    display: flex;
    justify-content: space-between;
  }

  p {
    font-size: rem(12px);
    line-height: math.div(16, 12);
    margin-bottom: 0;
  }
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: rem(12px);
  line-height: math.div(16, 12);
  display: flex;
  column-gap: rem(20px);
}

.footer-menu__item {
  a,
  a:visited {
    color: $white;
  }
}


.footer__copyright {
  flex: 1;
  text-align: right;
}
